*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3D1365;   
}
.header{
    width: 100%;
    height: 7%;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    /* margin-bottom: 10%; */
}
.header-categories{
    height: 100%;
    width: 80%;
    color: #3D1365;
    font-weight: 700;
    font-size: 1.7rem;
    /* margin-left: 5%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-categories p{
    margin-right: 2%;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* gap: 10%; */
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}
.container-section{
    width: 100%;
    height: 35vh;
    color: #ffffff;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 80vh;
    /* margin-top: 100%; */
    margin-left: 2%;
    margin-top: 2vh;
}
.section-title{
    width: 100%;
    height: 10vh;
    border: 3px solid #ffffff;
    border-radius: 20px;
    font-size: 2rem;
}
.container-section.shounen{
    
}
.container-section p{
    margin-left: 2%;
}
.container-cards{
    width: 98%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
    /* flex-grow: 1; */
}
.card{
    height: 100%;
    width: 10%;
    min-width: 160px;
    border-radius: 10px;
    margin-bottom: 1%;
}
.card img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}